:root {
    --bg: #FFB38E;
    --btn-1: #8FD14F;
    --btn-2: #FF6600;
    --btn-3: #604CC3;
    --btn-hover-1: #75ad3d;
    --btn--hover-2: #e25d05;
    --btn-hover-3: #4c3ba3;
    --text: #F5F5F5;
    --black-text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    border: none;
    border-radius: 5PX;
    font-size: 36px;
    background-color: var(--btn-3);
    cursor: pointer;
}

.btn:active {
    background-color: var(--btn-hover-3);
}

.btn-1 {
    background-color: var(--btn-1);
}

.btn-1:active {
    background-color: var(--btn-hover-1);
}

.btn-2 {
    background-color: var(--btn-2);
}

.btn-2:active {
    background-color: var(--btn--hover-2);
}

#main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: var(--text);
    padding: 5px;
    border: 4px solid var(--black-text);
    overflow: hidden;
    flex-wrap: wrap;
    z-index: 10;
    box-shadow: 10px 10px 0px 0px var(--black-text);
}

.output-display {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    background-color: var(--text);
    padding: 5px;
    overflow-wrap: break-word;
    position: relative;
}

.output-display span {
    width: 100%;
    margin-right: 5px;
    font-size: 10px;
    background-color: var(--text);
    color: var(--black-text);
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-wrap: break-word;
    word-break: break-all;
    position: absolute;
    top: 10px;
}

.output-display p {
    width: 100%;
    font-size: 48px;
    margin-right: 5px;
    background-color: var(--text);
    color: var(--black-text);
    display: flex;
    align-items: center;
    justify-content: end;
    word-break: break-all;
}

.inputs-elements {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height: 75%;
    gap: 5px;
    background-color: var(--text);
}

.other-outer {
    width: 100%;
    height: 20%;
}

.other-oparator {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    background-color: var(--text);

}

.input-outer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: var(--text);
}

.input-numbers {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: var(--text);
}

.input-oparator {
    width: 25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: var(--text);
}